#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	cargo build --release --locked

override_dh_auto_install:
	install -Dm755 target/release/gitkay debian/gitkay/usr/bin/gitkay

override_dh_auto_test:
	cargo test --release --locked
